@model IEnumerable<RandevouMVC.ViewModels.Messages.ConversationViewModel>

<table class="table table-hover">
    <tbody>
        @foreach (var speak in Model)
        {
            <tr>
                <td>
                    <div>@speak.SendDate @speak.SenderName</div>
                    <div>@speak.Message</div>
                </td>
            </tr>
        }
    </tbody>
</table>