@model IEnumerable<RandevouMVC.ViewModels.Messages.ConversationViewModel>


<div class="col-md-6" id="conversationDiv">
    
    <script type="text/javascript">
        setInterval("$('#conversationDiv').load('../../Messages/Conversation/@ViewBag.SpeakerId')", 2000);
    </script>
   
</div>

<div>
    @{
        await Html.RenderPartialAsync("SendMessage",
            new RandevouMVC.ViewModels.Messages.SendMessageViewModel
            {
                SpeakerId = ViewBag.SpeakerId,
            });
    }
</div>